<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Followers</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="myNavbar">
    <a class="navbar-brand" href="#" style="color: #007bff;">Twitter <i class="fab fa-twitter"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home"> Home<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="/showAllTweets">All tweets</a>
            </li>
            <li>
                <a class="nav-link" href="/myProfile">My profile</a>
            </li>
            <form class="form-inline" th:action="@{/tweetMatch}">
                <input class="form-control mr-sm-2" name="searchInput" type="search" placeholder="Search for tweet / hashtag"
                       aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a th:if="${me.role.id} == 2" class="nav-link" href="/admin">Admin</a>
            <a class="nav-link" href="/settings">Settings</a>
            <i class="fa fa-user"></i> <label th:text="${me.firstName}"> </label>
            <a class="btn btn-outline-secondary my-2 my-sm-0 mx-5"
               type="submit"
               th:href="@{/logout}">Logout</a>
        </form>
    </div>
</nav>
<div class="space"></div>

<div class="container" style="width: 550px">
    <h1 class="text-primary my-3" th:text="${user.userName} + ' ' + ${list}"></h1>
    <div th:if="${!followers.empty}">
        <table class="table">
            <tr>
                <th>User name</th>
            </tr>
            <tbody>

            <tr th:each="follower : ${followers}">
                <td>
                    <a th:text="${follower.userName}" th:href="@{/showProfile/}+${follower.id}" style="display: block;"></a>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>